*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
button{
    margin: 5px;
    outline: 2px solid green;
}
input{
    margin: 20px;
    outline: 2px solid gold;
}