* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
}
:root{
    font-size: 16px;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
    padding: 30px;
    background-color: #1976D2;
    color: white;
}
.checkbox:checked + .alert{
    display: inline-block;
}
.alert{
    display: none;
}
.item:first-child{
    color: gold;
}
.item:last-child{
    color: green;
}
.item:nth-child(2){
    color: silver;
}
.item:nth-child(even){
    color: purple;
}
.list .item:not(.second-item){
    color: gold;
}
.content:empty{
    padding: 10px;
    border: 2px solid black;
}