*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 32px;
    color: white; 
    background-color: #42A5F5;       
}
header, 
main, 
footer {
    height: 100px;
    line-height: 100px;
    margin: 16px;
    text-align: center;    
}
header{
    background-color: green;
}
main{
    background-color: blue;
}
footer{
    background-color: gold;
}