html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.container {
    width: 1280px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #42A5F5;    
}
.cover{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    /* background-image: linear-gradient(#1976D2,#AD1457); */
    /* background-image: linear-gradient(to right,#1976D2,#AD1457); */
    /* background-image: linear-gradient(21deg, #1976D2,#AD1457); */
    background-image: linear-gradient(21deg,transparent, rgba(25, 118, 210,0.7), rgba(194, 24, 91,0.7)), url("./images/image.jpg");
    
    background-size: cover;
    background-position: center;
}