*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white; 
    background-color: #00695C;       
}
.box1, 
.box2, 
.box3, 
.box4 {
    height: 150px;    
    margin-bottom: 24px;
}
.box1{
    background-color: #4DB6AC;
    position: relative;
    top: 40px;
}
.box2{
    background-color: #4DD0E1;
    position: fixed;
    width: 50%;
    bottom:0;
    margin: 0;
}
.box3{
    background-color: #00E676;
    position: sticky;
    top: 0;
}
.box4{
    background-color: #FFEE58;
}
.box1__child{
    /* width: 100px;
    height: 100px; */
    background-color:#E91E63 ;
    position: absolute;
    inset: 0;
}
.overlay{
    height: 2000px;
} 
p{
    margin: 0 auto;
    padding: 30px;;
}