*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    color: white;
    background-color: #E91E63;
    border-radius: 15px;
    padding: 10px;    
    margin: 50px 25px;
    width: 500px;       
}
h1{
    margin-bottom: 10px;
    padding: 10px;    
    /* text-shadow: 2px 2px 5px #2196F3; */
    text-shadow: 2px 2px 0px #2196F3;
}
.text{
    padding: 10px;
}